---
layout: page
title: Team - MindGarage
permalink: /team/
---

<div class="container">
    {% include members.html type="faculty" %}

    <h3 class="centered">PhD Students</h3>
    {% include members.html type="phd" %}

    <h3 class="centered">Research Assistants</h3>
    {% include members.html type="hiwi" %}

    <hr class="mt">

    <h3 class="centered">Alumni</h3>
    {% include members.html type="alumni" %}

    <h3 class="centered mt">Our Supporters</h3>
    {% include supporters.html %}
</div>
