---
layout: default
title: Home
permalink: /
---

<!-- Header -->
{% include header.html %}

<div class="container mb">

    <div class="row mt">
        <!-- Courses -->
        <div class="col-lg-12">
            <h3>Current Courses</h3>
            <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                {% assign current_courses = site.pages | where: "categories", "teaching" | where: "status", "current" %}
                {% for item in current_courses %}
                <div class="mdc-card mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-phone">
                    <a href="{{ item.url }}" class="mdc-card__content" style="background-color: var(--mdc-theme-surface)">
                    <p style="color: var(--mdc-theme-on-surface); text-align: center;">{{ item.title }}</p>
                    </a>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>

        <!-- Research | Updates -->
        <div class="col-lg-8 col-md-7">
            <div class="mdc-card">
                <div class="mdc-card__content">
                    <h3>Recent Publications</h3>
                    {% include publications.html limit=10 %}
                    <span>To see more publications, please visit our <a href="/publications/">publications page</a>.</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-5">
            <div class="mdc-card">
                <div class="mdc-card__content">
                    <h4>Latest News &nbsp; <a href="feed.xml"><span class="fa fa-rss"></span></a></h4>
                    <ul class="mdc-list">
                        {% for post in site.categories['blog'] limit:5 %}
                        <li class="mdc-list-item" tabindex="0">
                            <span class="mdc-list-item__ripple"></span>
                            <span class="mdc-list-item__text"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}.</a></span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="mdc-card">
                <div class="mdc-card__content">
                    <h4>Event Calendar</h4>
                    <ul class="mdc-list mdc-list--two-line">
                        {% for post in site.categories['event'] limit:5 %}
                        <li class="mdc-list-item" tabindex="0">
                            <span class="mdc-list-item__ripple"></span>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></span>
                                {% assign time_diff = post.eend | minus: post.estart %}
                                <span class="mdc-list-item__secondary-text">{{ post.estart | date: "%Y.%m.%d %H:%M" }} - {{ post.eend | date: "%Y.%m.%d %H:%M" }}</span>
                            </span>
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="mdc-touch-target-wrapper">
                        <button class="mdc-button mdc-button--touch" onclick="window.location.href='/events'">
                            <span class="mdc-button__ripple"></span>
                            <span class="mdc-button__touch"></span>
                            <span class="mdc-button__label">SEE ALL</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% assign projects = site.data.projects | sort: 'year' | reverse %}
    {% assign current_year = site.time | date: '%Y' %}
    {% assign current_month = site.time | date: '%m' | times: 1 %}
    {% if current_semester >= 9 or current_month <= 3 %}
    {% assign current_semester = 'WS' %}
    {% if current_month <= 3 %}
    {% assign semester_year = current_year | minus: 1 | append: "/" %}
    {% assign next_year = current_year %}
    {% assign semester_year = semester_year | append: next_year %}
    {% else %}
    {% assign semester_year = current_year %}
    {% assign next_year = current_year | plus: 1 %}
    {% assign semester_year = semester_year | append: "/" | append: next_year %}
    {% endif %}
    {% else %}
    {% assign current_semester = 'SS' %}
    {% assign semester_year = current_year %}
    {% endif %}

    {% assign current_semester = current_semester | append: " " %}
    {% assign current_semester = current_semester | append: semester_year %}

    <h3>Project/Seminar Topics in {{ current_semester }}</h3>
    <p>We are offering the following project (8 CP) and seminar (4 CP) topics in the {{ current_semester }}.</p>
    <div class="mdc-layout-grid mdc-card">
        <div class="mdc-layout-grid__inner">
        {% for project in projects %}
        {% assign project_semester = project.semester | append: " " %}
        {% assign project_semester = project_semester | append: project.year %}
        {% if project_semester == current_semester %}
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-phone">
            <p><a href="{{ project.url }}">{{ project.title }}</a></p>
        </div>
        {% endif %}
        {% endfor %}
        </div>
    </div>
    <p>Do any of these topics interest you? If you are interested in working with us, please <a href="/contact/">write us an email</a>. You can find more details <a href="/teaching/seminar-and-projects/">on this page</a>, including a list of projects and seminars our students have completed in the past. If you have your own topic idea in the field of Deep Learning, you can also write us about that!</p>

    <h3>Research Projects</h3>
    <p>Our team is also working on a number of research and programming projects. If you are interested in contributing to any of these projects as a developer or a research assistant, please <a href="/contact/">contact us</a> or drop by our office.</p>
    <h4>Active Projects</h4>
    {% include projects.html status="active" limit=10 %}
    <h4>Completed Projects</h4>
    {% include projects.html status="completed" limit=10 %}
</div><! --/container -->

<!-- History -->
<div class="centered">
    <h4>Our History</h4>
    <p>The MindGarage originates in a movement of students, teachers, and friends who are interested in Deep Learning.</p>
</div>
<div id="twrap">
    <div id="twrapback"></div>
    <div class="row">
        <article id="history" class="col-lg-12 history row">
            <dl>
                <div class="cell">
                    <div class="cell-content">
                        <dt>Winter 2013</dt>
                        <dd>Marcus Liwicki becomes W3 substitute Professor (as Prof. Breuel left) at the University of Kaiserslautern and delivers lectures on Artificial Neural Networks and Data Mining</dd>
                    </div>
                </div>
                <div class="cell">
                    <div class="cell-content">
                        <dt>Summer 2015</dt>
                        <dd>The substitute Professorship ends as all PhD students finished their work - he concentrates on his position as “Maitre Assistant” at the University of Fribourg. As no lecturer offers a lecture on neural networks, Marcus guides the students through a self-study course on neural networks. However, Marcus continues supervising motivated Master students and mentors them for their future career.</dd>
                    </div>
                </div>
                <div class="cell">
                    <div class="cell-content">
                        <dt>Summer 2016</dt>
                        <dd>Highly motivated by students wish to have a subject on most recent Deep Learning technologies and strongly supported by Werner Weiss and his company Insiders Technologies GmbH, Marcus decided to establish a new lecture on Very Deep Learning. This lecture covers bleeding-edge technologies as well as deep investigation and analysis of Neural Networks and other Deep Learning strategies.</dd>
                    </div>
                </div>
                <div class="cell">
                    <div class="cell-content">
                        <dt>Autumn 2016</dt>
                        <dd>In order to let students do meaningful exercices, Insiders offers high-end GPU computers and the University of Kaiserslautern provides Marcus with three rooms which can be used for the exercises as well as for project an Master students supervised by Marcus. We call this independent “lab” the MindGarage</dd>
                    </div>
                </div>
                <div class="cell">
                    <div class="cell-content">
                        <dt>The Future</dt>
                        <dd>We (Team and Supporters) strongly believe that the MindGarage is just at it starting point and will become the perfect place for motivated students for discovering and exploring deep learning, evolving their ideas, investigating novel research ideas, and bringing newest technologies close to the industrial application!</dd>
                    </div>
                </div>
            </dl>
        </article>
    </div>
    <! --/row -->
</div><! --/twrap -->

<div class="container mb">
    <!-- FAQs -->
    <div class="faqs row mt">
        <div class="col-lg-12">
            <h4>Frequently Asked Questions</h4>
            <div class="hline"></div>
            <details>
                <summary>What is the MindGarage?</summary>
                <p>The MindGarage is a lab for deep learning activities under the guidance of Marcus Liwicki. It is connected to the teaching activities of Marcus in the area of deep learning, including the lecture "Very Deep Learning", his supervised projects and theses, and individual studies.</p>
            </details>

            <details>
                <summary>What is the purpose of the MindGarage?</summary>
                <p>The purpose of the MindGarage is to provide a platform for students and researchers to conduct research in the area of deep learning. The MindGarage is also a place where students can meet and discuss ideas.</p>
            </details>

            <details>
                <summary>How can I become a part of the MindGarage team?</summary>
                <p>If you are a student at the University of Kaiserslautern, it is quite simple: Take the <b>Very Deep Learning</b> lecture offered at the university and tell us you want to join our team. Our doors are open for highly motivated students who want to do cutting edge deep learning research.</p>
            </details>

            <details>
                <summary>How can I join MindGarage if I am not a student of RPTU Kaiserslautern?</summary>
                <p>Contact us with resume and cover letter containing your motivation for joining the team and we will get in touch with you.</p>
            </details>
        </div>
    </div>
</div>
