---
layout: index
title: Home
permalink: /
---

<!-- Header -->
<div id="service" class="primary-container">
    <div class="container">
        <div class="row centered">
            <div class="col-md-12">
                <h2>The Deep Learning lab at RPTU</h2>
                <p>
                <div class="mdc-touch-target-wrapper">
                    <button class="mdc-button mdc-button--touch mdc-button--unelevated">
                        <span class="mdc-button__ripple"></span>
                        <span class="mdc-button__touch"></span>
                        <span class="mdc-button__label">JOIN OUR TEAM</span>
                    </button>
                </div>
                </p>
            </div>
        </div>
    </div> <! --/container -->
</div> <! --/service -->

<div class="container mb">

    <div class="row mt">
        <!-- Courses -->
        <div class="col-lg-12">
            <h3>Current Courses</h3>
            <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                {% assign current_courses = site.categories['courses'] | where: "status", "current" %}
                {% for item in current_courses %}
                <div class="mdc-card mdc-card--outlined mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-phone">
                    <a href="{{ item.url }}" class="mdc-card__content" style="background-color: {{ site.colors.secondary }};">
                    <p style="color: {{ site.colors.on_secondary }}; text-align: center;">{{ item.title }}</p>
                    {% assign categories = item.category | shift %}
                    {% for category in categories %}<span class="project-tag" style="word-wrap: break-word;">{{ category | replace: ",", "" }}</span>
                    &nbsp;{% endfor %}
                    </a>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>

        <!-- Research | Updates -->
        <div class="col-lg-8 col-md-4">
            <h3>Recent Publications</h3>
            {% include publications.html limit=5 %}
            <span>To see more publications, please visit our <a href="publications">publications page</a>.</span>
        </div>
        <div class="col-lg-4 col-md-4 mt">
            <div class="mdc-card">
                <div class="mdc-card__content">
                    <h4>Latest News &nbsp; <a href="feed.xml"><span class="fa fa-rss"></span></a></h4>
                    <ul class="mdc-list">
                        {% for post in site.categories['blog'] limit:5 %}
                        <li class="mdc-list-item" tabindex="0">
                            <span class="mdc-list-item__ripple"></span>
                            <span class="mdc-list-item__text"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}.</a></span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="mdc-card">
                <div class="mdc-card__content">
                    <h4>Event Calendar</h4>
                    <ul class="mdc-list mdc-list--two-line">
                        {% for post in site.categories['event'] limit:5 %}
                        <li class="mdc-list-item" tabindex="0">
                            <span class="mdc-list-item__ripple"></span>
                            <span class="mdc-list-item__text"></a>
                                <span class="mdc-list-item__primary-text"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></span>
                                {% assign time_diff = post.eend | minus: post.estart %}
                                <span class="mdc-list-item__secondary-text">{{ post.estart | date: "%Y.%m.%d %H:%M" }} - {{ post.eend | date: "%Y.%m.%d %H:%M" }}</span>
                            </span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div> <! --/row -->

    <h3>Current Projects</h3>
    <p>We are currently working on the following projects:</p>
    {% include projects.html status="active" limit=10 %}
    <p>Do any of these projects interest you? If you are interested in joining our team, please <a href="contact">contact us</a>.</p>

    <h3>Past Projects</h3>
    <p>Here are some of the projects we have worked on in the past:</p>
    {% include projects.html status="completed" limit=10 %}

    <!-- Blockquote -->
    <div class="row mtb">
        <div class="col-lg-8 col-lg-offset-2">
            <blockquote>MindGarage is a family where curious minds come together to solve deep learning problems and discuss ideas.</blockquote>
        </div>
    </div> <! --/row -->
</div><! --/container -->

<!-- History -->
<div id="twrap">
    <div id="twrapback"></div>
    <div class="row">
        <article class="col-lg-12 history row">
            <h4>Our History</h4>
            <p>The MindGarage originates in a movement of students, teachers, and friends who are interested in Deep Learning. It is closely connected to the development at the University of Kaiserslautern.</p>
            <dl>
                <div class="cell">
                    <div class="cell-content">
                        <dt>Winter 2013</dt>
                        <dd>Marcus Liwicki becomes W3 substitute Professor (as Prof. Breuel left) at the University of Kaiserslautern and delivers lectures on Artificial Neural Networks and Data Mining</dd>
                    </div>
                </div>
                <div class="cell">
                    <div class="cell-content">
                        <dt>Summer 2015</dt>
                        <dd>The substitute Professorship ends as all PhD students finished their work - he concentrates on his position as “Maitre Assistant” at the University of Fribourg. As no lecturer offers a lecture on neural networks, Marcus guides the students through a self-study course on neural networks. However, Marcus continues supervising motivated Master students and mentors them for their future carreer.</dd>
                    </div>
                </div>
                <div class="cell">
                    <div class="cell-content">
                        <dt>Summer 2016</dt>
                        <dd>Highly motivated by students wish to have a subject on most recent Deep Learning technologies and strongly supported by Werner Weiss and his company Insiders Technologies GmbH, Marcus decided to establish a new lecture on Very Deep Learning. This lecture covers bleeding-edge technologies as well as deep investigation and analysis of Neural Networks and other Deep Learning strategies.</dd>
                    </div>
                </div>
                <div class="cell">
                    <div class="cell-content">
                        <dt>Autumn 2016</dt>
                        <dd>In order to let students do meaningful exercices, Insiders offers high-end GPU computers and the University of Kaiserslautern provides Marcus with three rooms which can be used for the exercises as well as for project an Master students supervised by Marcus. We call this independent “lab” the MindGarage</dd>
                    </div>
                </div>
                <div class="cell">
                    <div class="cell-content">
                        <dt>The Future</dt>
                        <dd>We (Team and Supporters) strongly believe that the MindGarage is just at it starting point and will become the perfect place for motivated students for discovering and exploring deep learning, evolving their ideas, investigating novel research ideas, and bringing newest technologies close to the industrial application!</dd>
                    </div>
                </div>
            </dl>
        </article>
    </div>
    <! --/row -->
</div><! --/twrap -->

<div class="container mb">
    <!-- FAQs -->
    <div class="faqs row mt">
        <div class="col-lg-12">
            <h4>Frequently Asked Questions</h4>
            <div class="hline"></div>
            <details>
                <summary>What is the MindGarage?</summary>
                <p>The MindGarage is a lab for deep learning activities under the guidance of Marcus Liwicki. It is connected to the teaching activities of Marcus in the area of deep learning, including the lecture "Very Deep Learning", his supervised projects and theses, and individual studies.</p>
            </details>

            <details>
                <summary>What is the purpose of the MindGarage?</summary>
                <p>The purpose of the MindGarage is to provide a platform for students and researchers to conduct research in the area of deep learning. The MindGarage is also a place where students can meet and discuss ideas.</p>
            </details>

            <details>
                <summary>How can I become a part of the MindGarage team?</summary>
                <p>If you are a student at the University of Kaiserslautern, it is quite simple: Take the <b>Very Deep Learning</b> lecture offered at the university and tell us you want to join our team. Our doors are open for highly motivated students who want to do cutting edge deep learning research.</p>
            </details>

            <details>
                <summary>How can I join MindGarage if I am not a student of TU Kaiserslautern?</summary>
                <p>Contact us with resume and cover letter containing your motivation for joining the team and we will get in touch with you.</p>
            </details>
        </div>
    </div> <! --/row -->
</div>
