---
layout: page
title: Publications - MindGarage
permalink: /publications/
---

<div class="container">
    <div class="row">
        <p>
            Here is a list of publications from the Deep Learning lab MindGarage at RPTU. </p>
        <p>
            Click on the publication card to read more about it. If you are interested in any of the publications, please reach out to us using the contact form.
        </p>

        <h3>Conference Papers</h3>
        {% include publications.html type="conference" %}

        <h3>Journal Papers</h3>
        {% include publications.html type="journal" %}

        <h3>Preprints</h3>
        {% include publications.html type="preprint" %}
    </div>
</div>