<div class="centered">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            {% for img in page.carousel.first %}
                <div class="item active" style="height: 148px; background: url({{ "/assets/img/project/carousel/" | prepend: site.baseurl }}{{ img }}) no-repeat center center; background-size: cover;">
                </div>
            {% endfor %}
            {% for img in page.carousel offset:1 %}
                <div class="item" style="height: 148px; background: url({{ "/assets/img/project/carousel/" | prepend: site.baseurl }}{{ img }}) no-repeat center center; background-size: cover;">
                </div>
            {% endfor %}
        </div>
    </div>
</div>
