<div id="footerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <h4>About</h4>
        <div class="hline"></div>
        <p>{{ site.about }}</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <h4>Quick Links</h4>
        <div class="hline"></div>
        <ul>
          <li><a href="/teaching/">Teaching</a></li>
          <li><a href="/teaching/seminar-and-projects/">Projects</a></li>
          <li><a href="/teaching/theses/">Theses</a></li>
          <li><a href="/publications/">Publications</a></li>
          <li><a href="/team/">Team</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <h4>Contact</h4>
        <div class="hline"></div>
        <p>
          {% for line in site.address.first.lines %} {{ line }} <br />
          {% endfor %}
        </p>

        <!-- Social Links -->
        <p>
          <br />
          {% for network in site.social %}
          <a href="{{ network.url }}" class="btn-social">
            <i class="fa fa-{{ network.title }}"></i>
          </a>
          {% endfor %}
        </p>
      </div>
    </div>
    <!-- RPTU Imprint -->
    <div class="row text-center">
      <div class="hline" style="margin: 16px 0"></div>
      <!-- Copyright Notice -->
      <p>
        Copyright &copy; {{ site.time | date: '%Y' }} RPTU. All
        rights reserved.
      </p>
      <p>
        <a href="https://rptu.de/en/contact">Contact</a> |
        <a href="https://rptu.de/en/imprint">Imprint</a> |
        <a href="https://rptu.de/en/privacy-policy-1">Privacy Policy</a>
      </p>
    </div>
  </div>
</div>
