<div id="headerwrap">
    <div class="mb">
        <div class="container justify-content-center">
            <div class="himg">
                <img src="/assets/img/logo/mg_logo.png" class="img-responsive">
            </div>
        </div>
        <div class="row centered">
            <p><h2>The Deep Learning Lab at RPTU</h2></p>
            <div class="mdc-touch-target-wrapper">
                <button class="mdc-button mdc-button--touch mdc-button--unelevated" onclick="window.location.href='/team'">
                    <span class="mdc-button__ripple"></span>
                    <span class="mdc-button__touch"></span>
                    <span class="mdc-button__label">JOIN OUR TEAM</span>
                </button>
            </div>
        </div>
    </div>
</div>