{% assign members = site.members | where: "type", include.type %}
{% for member in members %}
{% if forloop.first %}
<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
        {% endif %}
            {% unless member.type == "alumni" %}
            <div class="mdc-card mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-phone">
            {% else %}
            <div class="mdc-card mdc-layout-grid__cell mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone">
            {% endunless %}
                <div class="mdc-card__content mdc-card__primary-action">
                {% if member.img %}
                {% if member.img contains "http" %}
                {% assign image_url = member.img %}
                {% else %}
                {% assign image_url = member.img | prepend: "/assets/img/members/" | prepend: site.baseurl %}
                {% endif %}
                {% else %}
                {% assign image_url = "/assets/img/members/default.jpg" | prepend: site.baseurl %}
                {% endif %}
                <div class="mdc-card__media mdc-card__media--square" style="background-image: url({{ image_url }});">
                </div>
                <h4>{{ member.name }}</h4>
                <div style="position: relative; top: -16px;">
                    <h5 class="ctitle">{{ member.position }}</h5>
                    {% for entry in member.social %}
                    <a href="{{ entry.url }}" style="position: relative; top: -16px; margin-right: 4px"><i
                            class="fa fa-{{ entry.title }}"></i></a>
                    {% endfor %}
                </div>
                <span>{{ member.text }}</span>
            </div>
        </div>

        {% if forloop.last %}
    </div>
</div>
{% endif %}
{% endfor %}