<div class="container mtb">
    <div class="row centered">
        <h3 class="mb">Meet Our Team</h3>
    </div>
    {% for member in site.members %}
    {% assign modulo = forloop.index0 | modulo:4 %}
    {% if modulo == 0 or forloop.first %}
    <div class="row centered">
    {% endif %}
        <div class="col-lg-3 col-md-3 col-sm-3">
            <a href="{{ member.social.first.url }}">
            <div class="he-wrap tpl6">
                {% if member.social.first %}
                    <img src="{{ "/assets/img/members/" | prepend: site.baseurl }}{{ member.img }}" alt="">
                {% else %}
                {% endif %}

                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">Contact Me:</h3>
                        {% for entry in member.social %}
                        <a href="{{ entry.url }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-{{ entry.title }}"></i></a>
                        {% endfor %}
                    </div><!-- he bg -->
                </div><!-- he view -->
            </div><!-- he wrap -->
            <h4>{{ member.name }}</h4>
            <h5 class="ctitle">{{ member.position }}</h5>
            <p>{{ member.text }}</p>
            <div class="hline"></div>
        </div><! --/col-lg-3 -->
        </a>
    {% if modulo == 3 or forloop.last %}
    </div><! --/row -->
    {% endif %}
    {% endfor %}

</div><! --/container -->
