<!-- Fixed navbar -->
<div class="mdc-top-app-bar__row">
  <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
    <span class="mdc-top-app-bar__navigation-icon" aria-label="Site logo"
      style="background-color: #f2f2f2aa; border-radius: 8px; padding: 8px;">
      <a href="{{" /" | prepend: site.baseurl }}">
        <img src="{{ " /assets/img/logo/mg_logo_long.png" | prepend: site.baseurl }}" alt="Site logo"
          style="height: 32px;" />
      </a>
  </section>
  <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
    <ul class="nav navbar-nav">
      {% for item in site.nav.main %}
      <li {% if item.url==page.url %}class="active" {% endif %}>
        {% if item.options %}
        <a href="{{ item.url | prepend: site.baseurl }}" class="dropdown-toggle" data-toggle="dropdown">{{ item.title }}
          <b class="caret"></b></a>
        <ul class="dropdown-menu">
          {% for option in item.options %}
          <li><a href="{{ option.url | prepend: site.baseurl }}">{{ option.title }}</a></li>
          {% endfor %}
        </ul>
        {% else %}
        <a href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </section>
</div>