<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md" style="padding-left: 16px; padding-right: 16px;">
  <a class="navbar-brand" href="{{" /" | prepend: site.baseurl }}">
    <img src="{{ " /assets/img/logo/mg_logo_short.png" | prepend: site.baseurl }}" alt="Site logo"
      style="height: 32px;" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      {% for item in site.nav.main %}
      <a class="nav-item nav-link {% if item.url==page.url %}active{% endif %}"
         href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}
      </a>
      {% endfor %}
    </div>
  </div>
</nav>