<!-- Fixed navbar -->
<div class="mdc-top-app-bar__row">
  <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
    <span class="mdc-top-app-bar__navigation-icon" aria-label="Site logo" style="background-color: {{site.colors.on_primary_container}}; border-radius: 8px; padding: 8px;">
      <a href="{{"/" | prepend: site.baseurl }}">
        <img src="{{ "/assets/img/logo/mg_logo_long.png" | prepend: site.baseurl }}" alt="Site logo" style="height: 32px;" />
      </a>
    </span>
  </section>
  <section class="mdc-top-app-bar__section" role="toolbar">
    <ul class="nav navbar-nav">
        <li {% if page.title == "Team" %}class="active"{% endif %}><a href="{{"/team/" | prepend: site.baseurl }}">TEAM</a></li>
        <li>
          <a href="/teaching/" class="dropdown-toggle" data-toggle="dropdown">TEACHING <b class="caret"></b></a>
          <ul class="dropdown-menu">
              <li><a href="/teaching/sose23/">Current Semester</a></li>
              <li>
                <a href="/teaching/archive/" class="dropdown-toggle" data-toggle="dropdown">Previous Semesters</a>
                <ul class="dropdown-menu">
                  <li><a href="/teaching/archive/ws2223">WiSe 22/23</a></li>
                  <li><a href="/teaching/archive/sose22">SoSe 22</a></li>
                  <li><a href="/teaching/archive/ws2122">WiSe 22/23</a></li>
                  <li><a href="/teaching/archive/sose21">SoSe 21</a></li>
              </ul>
              </li>
          </ul>
      </li>
        <li {% if page.title == "Mindstorm" %}class="active"{% endif %}><a href="{{"/theses-and-jobs/" | prepend: site.baseurl }}">THESES AND JOBS</a></li>
        <li {% if page.title == "Blog" %}class="active"{% endif %}><a href="{{"/datasets/" | prepend: site.baseurl }}">DATASETS</a></li>
        <li {% if page.title == "Portfolio" %}class="active"{% endif %}><a href="{{"/publications/" | prepend: site.baseurl }}">PUBLICATIONS</a></li>
        <li {% if page.title == "Contact" %}class="active"{% endif %}><a href="{{"/contact/" | prepend: site.baseurl }}">CONTACT</a></li>
      </ul>
  </section>
</div>