{% if include.type %}
    {% assign items = site.data.publications | where: 'type', include.type %}
    {% else %}
    {% assign items = site.data.publications %}
{% endif %}
{% assign all_items = items | compact | sort: 'year' | reverse %}
{% if include.limit %}
    {% assign all_items = all_items | slice: 0, include.limit %}
{% endif %}

{% if include.group_by_year %}
{% assign grouped_items = all_items | group_by_exp:"item", "item.year" %}
{% for group in grouped_items %}
{% assign year = group.name %}
{% assign current_items = group.items %}
<h4>{{ year }}</h4>
<ul class="mdc-list">
  {% for item in current_items %}
  <li class="mdc-list-item">
    <details>
      <summary>
        {% assign authors = item.authors | split: ", " %}
        {% assign first_author = authors | first %}
        {% assign fa_lastname = first_author | split: " " | last %}
        {{ fa_lastname }}
        {% if authors.size > 1 %}
          et al.
        {% endif %}
        ({{ item.year }}).
        <strong><a href="{{ item.url }}" target="_blank">{{ item.title }}</a></strong>.
        <i>{{ item.venue }}</i>.
      </summary>
      <i style="opacity: 0.75;">{{ item.abstract }}</i>
    </details>
  </li>
  {% endfor %}
</ul>
{% endfor %}
{% else %}
{% assign current_items = all_items %}
<ul class="mdc-list">
  {% for item in current_items %}
  <li class="mdc-list-item">
    <details>
      <summary>
        <span class="mdc-list-item__ripple"></span>
        {% assign authors = item.authors | split: ", " %}
        {% assign first_author = authors | first %}
        {% assign fa_lastname = first_author | split: " " | last %}
        {{ fa_lastname }}
        {% if authors.size > 1 %}
          et al.
        {% endif %}
        ({{ item.year }}).
        <strong><a href="{{ item.url }}" target="_blank">{{ item.title }}</a></strong>.
        <i>{{ item.venue }}</i>.
      </summary>
      <i style="opacity: 0.75;">{{ item.abstract }}</i>
    </details>
  </li>
  {% endfor %}
</ul>
{% endif %}

