{% if include.title %}
<h3>{{ include.title }}</h3>
{% endif %}
<div class="mdc-card">
    <ul class="mdc-list mdc-card__content">
        {% assign filter = include.type | default: "all" %}
        {% if filter == "all" %}
        {% assign projects = site.categories['publication'] %}
        {% else %}
        {% assign projects = site.categories['publication'] | where: "type", filter %}
        {% endif %}
        {% for project in projects limit:include.limit %}
        <li style="text-align: left;">
            <details>
                <summary>
                    <h4 style="font-weight: 700;">{{ project.title }}</h4>
                    <span style="position: relative; top: -8px;">{{ project.author }} <a
                            href="{{ project.website }}">(Read
                            Paper)</a></span>
                </summary>
                <p>{{ project.content | markdownify }}</p>
            </details>
        </li>
        {% endfor %}
    </ul><!-- portfolio -->
</div>