---
layout: page_multicol
---

<div class="col-lg-8 col-md-7">
    <p>{{ content }}</p>
</div>

<div class="col-lg-4 col-md-5 mdc-card mdc-card--outlined">
    <p>
        <img class="img-responsive" src="{{ " /assets/img/blog/" | prepend: site.baseurl }}{{ page.img }}">
    </p>
    <p>
        <b>Start: </b> {{ page.estart | date: "%B %d - %Y, %H:%M" }}<br>
        <b>End: </b> {{ page.eend | date: "%B %d - %Y, %H:%M" }}<br>
        <b>Location: </b> {{ page.elocation }}
    </p>
    <p>
        <csmall>Posted on {{ page.date | date: "%b %-d, %Y" }} by {{ page.author }}.</csmall>
    </p>
</div>
