---
layout: default
---

<div class="container mtb">
    <div class="row">
        <div class="col-md-8">
            <h3 style="margin-bottom: 0;">{{ page.title }}</h3>
            <csmall>{{ page.date | date: "%b %-d, %Y" }}. | By: {{ page.author }}</csmall>
            <p>{{ content }}</p>
        </div>

        <div class="col-lg-4 col-md-5">
            <p>
                <img class="img-responsive" src="{{ " /assets/img/blog/" | prepend: site.baseurl }}{{ page.img }}">
            </p>
            <p>
                <b>Start: </b> {{ page.estart | date: "%B %d - %Y, %H:%M" }}<br>
                <b>End: </b> {{ page.eend | date: "%B %d - %Y, %H:%M" }}<br>
                <b>Location: </b> {{ page.elocation }} 
            </p>
        </div>
    </div>
</div>
