---
layout: default
---

<div class="container mtb">
    <div class="row">
        <div class="col-md-8 mdc-card">
            <p><img class="img-responsive" src="{{ " /assets/img/blog/" | prepend: site.baseurl }}{{ page.img }}">
            </p>
            <a href="{{ page.url | prepend: site.baseurl }}">
                <h3 class="ctitle">{{ page.title }}</h3>
            </a>
            <p>
                <csmall>{{ page.date | date: "%b %-d, %Y" }}. | By: {{ page.author }}</csmall>
            </p>

            {{ content }}
        </div>

        {% include sidebar.html %}
    </div>
</div>