---
layout: page_multicol
---

{% include carousel.html %}

<div class="col-lg-8 col-md-7 mdc-card mt">
    <div class="mdc-card__content">
        {{ content }}
        <div>
            <img src="{{ " /assets/img/project/" | prepend: site.baseurl }}{{ page.img }}" alt="">
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-5 mt">
    <h4>Project Details</h4>
    <div class="hline"></div>
    <p>
        <b>Date:</b> {{ page.date | date: "%b %-d, %Y" }}<br>
        <b>Author:</b> {{ page.author }}<br>
        <b>Tags:</b>
        {% for tag in page.tagged %}
            <a href="{{ "/category/#" | prepend: site.baseurl }}{{ tag }}">{{ tag }}</a>
        {% endfor %}<br>
        <b>Website:</b> <a href="{{ page.website }}">{{ page.website }}</a>
    </p>

    {% include projects.html title="Related Projects" status="all" limit=5 %}
</div>
